.r-ArcanotypeButtons-Group {
    

    .MuiToggleButton-root {
        background-color: #23232360;
        color: rgba(255, 255, 255, 0.8);

        &:hover {
            color: rgba(255, 255, 255, 0.324);
        }
    }
    
}
