@import "_variables";

.r-SpellTable {

    display: flex;
    justify-content: center;
    margin-top: 30px;

    .r-SpellTable-AlignFix {
        display: flex;
        flex-direction: column;
        width: 1200px;
    }

    .r-SpellTable-SpellCards {
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
    }

    .r-SpellTable-Header {
        display: grid;
        grid-template-columns: $spell_table_rows;
        text-align: left;
        padding: 4px 12px;
        margin-bottom: 2px;
        font-weight: 700;
        font-size: 0.9em;
    }   
}